<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br/>
    <a href="/movies">Listado de peliculas</a><br/>
    <a href="/movies/new">Peliculas nuevas</a><br>
    <a href="/movies/recommended">Peliculas recomendadas</a><br/>
    <a href="/movies/add">Agregar pelicula</a><br/>
    <br/>
    <a href="/genres">Listado de generos</a>

  </body>
</html>
